<%= form_with(model: blurb, local: true) do |f| %>

  <% if blurb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blurb.errors.count, "error") %> prohibited this blurb from being saved:</h2>

      <ul>
      <% blurb.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="form-group">
    <%= f.label :tag_list, "Tags (separated by commas )" %>
    <%= f.text_field :tag_list, required: true, placeholder: "Ex. (firing operations, smoke, Swamp Goat Fire)", value: blurb.tag_list.to_s, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, id: :blurb_content, required: true,  rows: "10", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.check_box :private %>
    <%= f.label "Private" %>
  </div>

  <div class="actions">
    <%= f.submit t('.sign_up', default: "Add Blurb"), class: "btn btn-success" %>
  </div>


<% end %>

