<p id="notice"><%= notice %></p>

<h1>Blurbs</h1>


    <% @blurbs.each do |blurb| %>
      <div class="col-lg-8">
        <%= simple_format(blurb.content) %>
        <%= blurb.user_id %>
      </div>
        <%#= link_to 'Show', blurb %>
        <%= link_to 'Edit', edit_blurb_path(blurb) %>
        <%= link_to 'Destroy', blurb, method: :delete, data: { confirm: 'Are you sure?' } %>
      
    <% end %>

<br>

<%= link_to 'New Blurb', new_blurb_path, class: 'btn btn-success' %>
