<p id="notice"><%= notice %></p>

<h1>Blurbs</h1>


    <% @blurbs.each do |blurb| %>
      <div class="col-lg-8">
        <%= simple_format(blurb.content) %>
        <%= blurb.user_id %>
      </div>
        <%#= link_to 'Show', blurb %>
        <%= link_to (fa_icon('pencil-alt')), edit_blurb_path(blurb), class: "edit-button btn btn-success" %>
        
      
    <% end %>

<br>

<%= link_to 'New Blurb', new_blurb_path, class: 'btn btn-success' %>
