<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @blurb.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @blurb.user_id %>
</p>

<%= link_to 'Edit', edit_blurb_path(@blurb) %> |
<%= link_to 'Back', blurbs_path %>
