

<p>
  <strong>Content:</strong>
  <%= simple_format(@blurb.content) %>
</p>

<p>
  <strong>User:</strong>
  <%= @blurb.user_id %>
</p>

<%= link_to (fa_icon('pencil-alt')), edit_blurb_path(@blurb), class: "button tiny radius success edit-button", id: "floating-button" %>
<%= link_to 'Destroy', @blurb, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', blurbs_path %>
