<div id="home-message">
  	<div class="col-md-8 center-block">
    </br>
    </br>
      <h1>InciBlurbs.</h1>
      <h1>Save and Share Fire Messenging</h1>
    </div>
  </br>
  	    <div class="col-md-8 center-block">
  	<p>Whether you are writing the morning update or answering comments on facebook, avoid wasting time writing the same messages over and over. Save common messages as a blurb that you can copy and paste. Maintain consistency with your staff by sharing popular blurs. At a loss for words? Search <strong>#hashtags</strong> for stock responses. Maybe someone has arleady articulated what you wish to say :)</p>
    </div> 

</div>

<% content_for :second_contents do %>
<div class="container-fluid white-bg">
  <div class="container">
    <div id="todo-block" class="col-md-8 center-block">
      <h1>TODO</h1>
      <p>This application is a work in progress. The basic functionality is here and I will add the following improvements as time allows. There are probably some bugs and they will be found by use. Let me know if you find a problem and I will see what I can do to fix it. Below is a list of needs. If you have any suggestions feel free to <%= link_to 'contact me', contact_path %>.</p>
      <ul>
        <li>Basic style improvements and branding.</li>
        <li>Add comments to blurbs.</li>
        <li>Add feed so messages can be passed internally.</li>
        <li>Search filtering for multiple tags.</li>
        <li>Strategy for organizing a huge number of tags.</li>
        <li>Make footer 'sticky.'</li>

      </ul>
    </div>
  </div>
</div>
<% end %>
<%= content_for :subfooter do %>
  <div id="home-subfooter" class="container-fluid">
    <div class="container center-block">
      <div class="col-md-8 center-block">
        <div class="col-sm-4">
          <h5>Information</h5>
          <ul class="ul-no-style">
            <li><%= link_to "Inciweb", "https://inciweb.nwcg.gov/", :target => "_blank" %></li>
            <li><%= link_to "MailChimp", "https://mailchimp.com/features/", :target => "_blank" %></li>
            <li><%= link_to "Facebook", "https://www.facebook.com/", :target => "_blank" %></li>
            <li><%= link_to "Gmail", "https://accounts.google.com/", :target => "_blank" %></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h5>Intel</h5>
          <ul class="ul-no-style">
            <li><%= link_to "FAMWEB", "https://fam.nwcg.gov/fam-web/", :target => "_blank" %></li>
            <li><%= link_to "Situation Report", "https://www.nifc.gov/nicc/sitreprt.pdf", :target => "_blank" %></li>
            <li><%= link_to "7 Day Outlook", "https://psgeodata.fs.fed.us/forecast/#/outlooks?state=map", :target => "_blank" %></li>
            <li><%= link_to "Fire EGP", "https://famit.nwcg.gov/applications/EGP", :target => "_blank" %></li>
            <li><%= link_to "Automated Flight Following", "https://www.aff.gov/", :target => "_blank" %></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h5>Useful</h5>
          <ul class="ul-no-style">
            <li><%= link_to "NASA Worldview", "https://worldview.earthdata.nasa.gov/", :target => "_blank" %></li>
            <li><%= link_to "Hemingway Editor", "http://www.hemingwayapp.com/", :target => "_blank" %></li>
            <li><%= link_to "Grammarly", "https://www.grammarly.com/", :target => "_blank" %></li>
            <li><%= link_to "Gravit Designer", "https://designer.gravit.io/", :target => "_blank" %></li>
          </ul>
      </div>
    </div>
    </div>
  </div>
<% end %>